// Font family variables
$GilroyRegular: "Gilroy Regular";
$GilroyBold: "Gilroy Bold";
$GilroyExtraBold: "Gilroy ExtraBold";
$GilroyLight: "Gilroy Light";


// Define font families and font sizes
section {

  h1 {
    font-family: $GilroyExtraBold;
    font-size: 55px;
    @media(max-width: 1024px) {
      font-size: 34px;
    }
    @media(max-width: 680px) {
      font-size: 24px;
    }
  }
  h2 {
    font-family: $GilroyExtraBold;
    font-size: 45px;
    @media(max-width: 1024px) {
      font-size: 25px;
    }
    @media(max-width: 680px) {
      font-size: 20px;
    }
  }
  h3 {
    font-family: $GilroyExtraBold;
    font-size: 22px;
    @media(max-width: 1024px) {
      font-size: 18px;
    }
    @media(max-width: 680px) {
      font-size: 16px;
    }
  }

  p {
    font-family: $GilroyLight;
    font-size: 20px;
    @media(max-width: 1024px) {
      font-size: 16px;
    }
    @media(max-width: 680px) {
      font-size: 16px;
    }
  }
.grid-item {
  p {
    font-family: $GilroyLight;
    font-size: 18px;
    line-height: 1.5em;
    @media(max-width: 1024px) {
      font-size: 16px;
    }
    @media(max-width: 680px) {
      font-size: 16px;
    }
  }
}

  button {
    font-family: $GilroyExtraBold;
    font-size: 18px;
    cursor: pointer;
    @media(max-width: 680px) {
      font-size: 16px;
    }
  }
}

// Footer
footer {
  p {
    font-family: $GilroyRegular;
    font-size: 18px;
  }
}

// Define Font Faces
@font-face {
  font-family: "Gilroy Light";
  src: url("../fonts/Gilroy-light.woff2") format("woff2");
  font-weight: light;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy Regular";
  src: url("../fonts/GilroyRegular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy Bold";
  src: url("../fonts/GilroyBold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy ExtraBold";
  src: url("../fonts/GilroyExtraBold.otf") format("opentype");
  font-weight: bolder;
  font-style: normal;
}
